/*  your css code here. If applicable */
/* *{
	border-width:1px;
} */
p{
	border-width:1px;
}
#yellow{
	/* border-width:1px; */
	background-color:yellow;
	border-color:green;
}
#red{
	/* border-width:1px; */
	background-color:red;
	border-color:black;
}
#green{
	
	background-color:green;
	border-color:yellow;
}

